*,*::after,*::before{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgba(0,0,0);
}


/** ---------------------------- */
/** --- Code editor ------------ */
/** ---------------------------- */
.code-edit-container {
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
    height: 500px;
    max-width: 300px;
    padding: 5px 25px;
    border: 3px solid #FFC045;
    color: #FFC045;
    font-size: 21px;
    letter-spacing: 2px;
    overflow: auto;
     overflow-x:auto
    /* background-color: hsl(212, 35%, 95%); */
    /* margin: 1em 0; */
  }
  
  .code-input {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    padding: 1rem;
    height: 450px;
    width: 250px;
    border: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
    font-size: 1rem;
  }
  
  .code-input {
    opacity: 1;
    margin: 0;
    color: hsl(0, 0%, 40%);
    resize: none;
  }
  
  .code-output {
    pointer-events: none;
    background-color: rgba(0,0,0);
    z-index: 3;
    margin: 0;
    /* overflow-y: auto; */
  }
  
  code {
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    display: block;
    color: hsl(0, 0%, 40%);
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
  }
  
  /* overrides */
  .code-edit-container :not(pre) > code[class*="language-"],
  .code-edit-container pre[class*="language-"] {
    background: transparent;
    margin: 0;
  }