.list {

               padding-left: 5rem;
               padding-right: 5rem;


               background-color: aliceblue;
 margin: 20px;
 }

               /* background-color: aliceblue; */
              

 

 .listItem{
     margin: 20px;

 }

