.list {

               padding-left: 5rem;
               padding-right: 5rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
               background-color: aliceblue;

 }
=======
>>>>>>> 24a9c0b4df7d7b60d5a33a8c9665bf1d2eea9b68
               /* background-color: aliceblue; */
               margin: 20px;

 }

 .listItem{
     margin: 20px;
<<<<<<< HEAD
 }
=======
 }
>>>>>>> c6184195b2199b10c91be32164f6f6c1c039fd79
>>>>>>> 24a9c0b4df7d7b60d5a33a8c9665bf1d2eea9b68
