/* .icon{
               border-radius: 100%;
               background-color: grey;
               height: 200px;
               width: 200px;
}

.h2{
               color: white;
                display: flex;
}

.fileContainer{
 
 padding: 3rem;
 border: .1rem;
 border-style:inset;
 border-color: rgb(78, 78, 78);
 border-radius: .5rem;
}

.border{

border-bottom: grey;
border: width 100px; 
margin: .7rem;

}
.addButton{
               color: greenyellow;
               padding: 3rem;
               text-align: center;
             
} */



.icon{
    border-radius: 100%;
    background-color: grey;
    height: 200px;
    width: 200px;
}

.h2{
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 3rem;
     /* display: flex; */
}

.fileContainer{

padding: 3rem;
border: .1rem;
border-style:inset;
border-color: rgb(78, 78, 78);
border-radius: .5rem;
}

.border{

border-bottom: grey;
border: width 100px; 
margin: .7rem;

}
.addButton{
    color: green;
    padding: 3rem;
    text-align: center;
    position: fixed;
    top: 80vh;
    right: 5%;
    /* z-index: 10; */
    /* background-color: white; */
    /* border-radius: 50%; */
  
}

.buttonAdd {
transform: scale(0.9);
width: 70px; 
height:70px;
background-color:white;
padding:10px;
border-radius:50%;
box-shadow: 0 5px 10px rgba(255,255,255,0.4);
transition: transform 0.4s;
}

.buttonAdd:hover{
transform: scale(1);
box-shadow:0 5px 20px rgba(255,255,255,0.4) ;
}

.headingWelcome{
color:white;
font-weight: 300;
font-size: 45px;
letter-spacing: 1px;
word-spacing: 2px;
}