.icon{
               border-radius: 100%;
               background-color: grey;
               height: 200px;
               width: 200px;
}

.h2{
               color: white;
                display: flex;
}

.fileContainer{
 
 padding: 3rem;
 border: .1rem;
 border-style:inset;
 border-color: rgb(78, 78, 78);
 border-radius: .5rem;
}

.border{

border-bottom: grey;
border: width 100px; 
margin: .7rem;

}
.addButton{
               color: greenyellow;
               padding: 3rem;
               text-align: center;
             
}