  .root {
           padding:1rem;
                 background-color:#202a3c;
    min-width: 275;
    margin:1rem;
  }
  .title {
    font-size: 14;
  }
  .pr{
                 text-align:left;
                 font-size:14px;
                 letter-spacing:1px
  }
  .col{
               
                 color:black
  
  }