.contain { 
 margin-top: 15rem;
 
 color: 'white';
 text-align: center;
 
 
}

.enclose {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem 0;
}